<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:description" content="selamat datang">
    <meta name="description" content="aplikasi fadli">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://kit.fontawesome.com/c7170cbe22.js" crossorigin="anonymous"></script>

    <title>{{title}}</title>
</head>

{{> navbar}}
{{> socmed_button}}
{{{body}}}
{{>footer}}

<body>

</body>

</html>